/*CSS DOCUMENT*/
h1{
    color: #76260f;
    font-size: 3em;
    font-family: cursive;
    margin-left: 2em;

}
h2{
    color: #76260f;
    font-size: 2em;
    font-family: cursive;
    margin-left: 1em;
}
h3{
    color: #e28416;
    font-family: sans-serif;
    text-transform: uppercase;
}
img{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
        
}
p{
    padding-left: 1em;
}
h4{
    font-family: sans-serif;

}
nav ul li a{
    text-decoration: none;
    color: #613947;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 2em;
    margin-left: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}
nav ul {
    padding: 0;
}
div.about{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
div.menu{
    max-width: 25em;
}
@media only screen and (min-width:25em){
    div.menu{
        float: left;
    }
